//
// Forms
//
// ==================================================

/*!---
title:   Forms
section: Atoms
---

###### Input

<input class="form-control" placeholder="Input example">

```html
<input class="form-control" placeholder="Input example">
```

###### Select

<select class="form-control">
  <option>Select example</option>
</select>

```html
<select class="form-control">
  <option>Select example</option>
</select>
```

###### Label

<label>Label example</label>

```html
<label>Label example</label>
```

###### Legend

<legend>Legend example</legend>

```html
<legend>Legend example</legend>
```

*/
