//
// Forms
//
// ==================================================

/*!---
title:   Forms
section: Atoms
---

#### Input

<input class="form-control" placeholder="Input example">

#### Select

<select class="form-control">
  <option>Select example</option>
</select>

#### Label

<label>Label example</label>

#### Legend

<legend>Legend example</legend>

*/
