// ==================================================
// Types
//
// 1. Links
// 2. Headings
// 3. Paragraph
// 4. Bold
// 5. Italic
// 6. Small
// 7. Blockquote
// ==================================================

/*!---
title:   Typography
section: Atoms
---

###### Links

The `<a>` element specifies relationships between the current document and an external resource.

```example:html
<p>Lorem ipsum dolor sit amet, <a class="#">consectetur adipisicing elit</a>. Optio, beatae.</p>
```

###### Headings

The heading elements implement six levels of document headings, `<h1>` is the most important and `<h6>` is the least. A heading element briefly describes the topic of the section it introduces.

```example:html
<div class="content">
  <h1>Lorem ipsum</h1>
  <h2>Lorem ipsum</h2>
  <h3>Lorem ipsum</h3>
  <h4>Lorem ipsum</h4>
  <h5>Lorem ipsum</h5>
  <h6>Lorem ipsum</h6>
</div>
```

###### Paragraph

The `<p>` element represents a paragraph of text.

```example:html
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore omnis consequatur eligendi.</p>
```

###### Blockquote

The `<blockquote>` element indicates that the enclosed text is an extended quotation.

```example:html
<blockquote>
  <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt laborum.</cite>
  <footer><p>Lorem ipsum dolor sit</p></footer>
</blockquote>
```

*/

// --------------------------------------------------
// 1. Links
// --------------------------------------------------

a
  color inherit
  text-decoration none

  p &
    color $brand-primary

  p &:hover
    text-decoration underline


// --------------------------------------------------
// 2. Headings
// --------------------------------------------------

// --------------------------------------------------
// 3. Paragraph
// --------------------------------------------------

p
  &:not(:last-child)
    margin-bottom $space


// --------------------------------------------------
// 4. Bold
// --------------------------------------------------

b
strong
  $font-weight(bold)


// --------------------------------------------------
// 5. Italic
// --------------------------------------------------

i
em
  font-style italic


// --------------------------------------------------
// 6. Small
// --------------------------------------------------

.small
small
  font-size .8em


// --------------------------------------------------
// 7. Blockquote
// --------------------------------------------------

blockquote
  margin ($space-lg + $space) 0 ($space-lg + $space)
  position relative

  &:first-child
    margin-top 0

  &:last-child
    margin-bottom 0

  cite
    $font(h2, bold) 
    display block 
    margin-bottom $space-sm
    position relative

    &:before
    &:after
      font-size 4.5rem
      margin-top -10px
      position absolute

    &:before
      content '“'
      left -($space)

    &:after
      content '”'

  p
    margin-top $space-sm

    &:before
        content '– '