// ==================================================
// Forms
// ==================================================

/*!---
title:   Forms
section: Molecules
---

The `<form>` element represents a document section that contains interactive controls to submit information.

###### Input

The HTML element <input< is used to create interactive controls for web-based forms in order to accept data from the user.

```example:html
<input class="form-control" placeholder="Input example">
```

###### Select

The `<select>` element represents a control that presents a menu of options.

```example:html
<select class="form-control">
  <option>Select example</option>
</select>
```

###### Label

The `<label>` represents a caption for an item in a user interface.

```example:html
<label>Label example</label>
```

###### Legend

The `<legend>` represents a caption for the content of its parent.

```example:html
<legend>Legend example</legend>
``` 
*/
