- var css = require('./welcome-css.json');

section(class=css.host)
  h1(class=css.title) Kratos Boilerplate
  article(class=css.description) A simple boilerplate for creating a static PWA using Webpack, Pug, PostCSS and CSS Modules
