// -------------------------------------------------
// Welcome
// -------------------------------------------------

@import '../../styles/core';

.host
  font-family 'Open Sans'
  margin-left auto
  margin-right auto
  padding $space
  max-width $screen-md
  text-align center

.title
  font-size 4rem

.description
  font-size 2rem
