// ==================================================
// Typography
//
// 1. Family
// 2. Transform
// 3. Weight
// 4. Default
// ==================================================

// --------------------------------------------------
// 1. Font Family
// --------------------------------------------------

$font-family(family)
  if (family == primary)
    font-family 'Open Sans', sans-serif

  if (family == secondary)
    font-family 'Raleway', sans-serif


// --------------------------------------------------
// 2. Transform
// --------------------------------------------------

$font-transform(transform)
  if (transform == uppercase)
    letter-spacing .1rem
    text-transform uppercase

  if (transform == lowercase)
    letter-spacing .1rem
    text-transform lowercase


// --------------------------------------------------
// 3. Weight
// --------------------------------------------------

$font-weight(arg = '')
  if (arg == bold)
    font-weight 700

  if (arg == regular)
    font-weight 400

  if (arg == light)
    font-weight 200
    
  if (arg == thin)
    font-weight 100


// --------------------------------------------------
// 4. Default
// --------------------------------------------------

$font(type = '', weight = '', family = '', transform = '')
 
  if (type)
 
    if (type == h1)
      font-size 4rem
      line-height 5rem

    if (type == h2)
      font-size 3rem
      line-height 4rem

    if (type == h3)
      font-size 2.6rem
      line-height 3.3rem

    if (type == h4)
      font-size 2.2rem
      line-height 3rem

    if (type == h5)
      font-size $text-size
      line-height 2.4rem

    if (type == h6)
      font-size 1.2rem
      line-height 1.8rem
 
    if (type == p1)
      font-size $text-size
      line-height 2.8rem

    if (type == p2)
      font-size 1.2rem
      line-height 1.8rem
 
  if (weight) 
    $font-weight(weight)
 
  if (family) 
    $font-family(family)
 
  if (transform) 
    $font-transform(transform)
