// ==================================================
// Variables
//
// 1. Colors
// 2. Spaces
// 3. Media Queries
// 4. Typography
// 5. Grids
// 6. zIndex
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

/*!---
title:   Colors
section: Core
---

###### Grays

```example:color
@color: #111 @name: Gray Darker
@color: #333 @name: Gray Dark
@color: #666 @name: Gray
@color: #aaa @name: Gray Light
@color: #ddd @name: Gray Lighter
@color: #f0f0f0 @name: Gray White
```

###### Pallets

```example:color
@color: #eade00 @name: Yellow
@color: #3b78e7 @name: Blue
@color: #cc0000 @name: Red
@color: #afcc49 @name: Green
```

*/


//
// Grays
// --------------------------------------------------

$gray-darker  = #111
$gray-dark    = #333
$gray         = #666
$gray-light   = #aaa
$gray-lighter = #ddd
$gray-white   = #f0f0f0

//
// Pallets
// --------------------------------------------------

$white       = #fff
$yellow      = #eade00
$blue        = #3b78e7
$red         = #cc0000
$green       = #afcc49

//
// Brands
// --------------------------------------------------

$brand-text      = $gray-darker
$brand-primary   = $blue
$brand-success   = $green
$brand-info      = $blue
$brand-warning   = $yellow
$brand-danger    = $red


// --------------------------------------------------
// 2. Spaces
// --------------------------------------------------

$space         = 2rem                 // Regular space margin
$space-xs      = ($space / 4)         // Extra small space margin
$space-sm      = ($space / 2)         // Small space margin
$space-md      = ($space + $space-sm) // Medium space margin
$space-lg      = ($space * 2)         // Large space margin
$space-xlg     = ($space * 4)         // Extra Large space margin

$space-gutter  = $space


// --------------------------------------------------
// 3. Media Queries
// --------------------------------------------------

$screen-xs   = 520px  // Extra small screen / phone
$screen-sm   = 768px  // Small screen / tablet
$screen-md   = 992px  // Medium screen / desktop
$screen-lg   = 1200px // Large screen / wide desktop
$screen-xlg  = 1400px // Extra Large screen / wide desktop
$screen-xxlg = 1900px // Extra Large screen / wide desktop

// Rupture Settings
// @stylint off
rupture.mobile-cutoff  = $screen-sm
rupture.tablet-cutoff  = $screen-md 
rupture.desktop-cutoff = $screen-lg 
rupture.hd-cutoff      = $screen-xlg 

rupture.scale          = 0 $screen-xs $screen-sm $screen-md $screen-lg $screen-xlg $screen-xxlg
rupture.scale-names    = '0' 'xs' 'sm' 'md' 'lg' 'xlg' 'hd'
rupture.anti-overlap   = -1px
// @stylint on


// --------------------------------------------------
// 4. Typography
// --------------------------------------------------

$text-size = 2rem


// --------------------------------------------------
// 5. Grids
// --------------------------------------------------

// @stylint off
@lost gutter 0
@lost flexbox flex
// @stylint on


// --------------------------------------------------
// 6. zIndex
// --------------------------------------------------

$zindex-bg       = -1
$zindex-default  = 1 
$zindex-loading  = 10