// ==================================================
// Palette
// ==================================================

$white: #ffffff;
$black: #000000;

$pallet-gray: (
  50: #f9f9f9,
  100: #d4d4d5,
  200: #b1aeb3,
  300: #928e94,
  400: #868288,
  500: #777777,
  600: #69666c,
  700: #5b575e,
  800: #3f3c42,
  900: #232323,
  contrast: (
    50: #232323,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);
