// ==================================================
// Icons
// ==================================================

/*!---
title:   Icon
section: Quarks
---

Use to add an icon on element.

```example:html
<svg aria-label="Arrow left" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/icons.svg#arrow-left"></use></svg>
``` 
*/

.icon
  $size = $space
  height $size
  position relative
  width $size