// ==================================================
// Utilies Class
//
// 1. Screen Reader Only
// 2. Hidden
// ==================================================

//
// 1. Screen Reader Only
// --------------------------------------------------

.sr-only
  $hidden(sr)


//
// 2. Hidden
// --------------------------------------------------

.hidden
  $hidden(all)

